extends  ../layout 

block content 
    table.table 
        thead 
            tr 
                th(scope='col') code
                th(scope='col') modelo
                th(scope='col') color           
                th(scope='col') ubicacion
                th 
                th 
        tbody 
            each bici in bicis
                tr                
                    td(scope='row')= bicis.code
                    td(scope='row')= bicis.modelo 
                    td(scope='row')= bicis.color 
                    td(scope='row')= bicis.ubicacion             