extends  ../layout 

block content 
    table.table 
        thead 
            tr 
                th(scope='col') id
                th(scope='col') modelo
                th(scope='col') color           
                th(scope='col') ubicacion
                th 
                th 
        tbody 
            each bici in bicis 
                tr 
                    td(scope='row')= bici.id 
                    td(scope='row')= bici.modelo 
                    td(scope='row')= bici.color 
                    td(scope='row')= bici.ubicacion             